*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    margin: 0; 
    overflow-x: hidden;
}

.name a{ 
    padding: 10px 15px;
    font-family: monospace;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: #2a2929;
}

.name a:hover{
    color:rgb(77, 73, 73);
}

.nav-links a{ 
    left: 750px;
    position: relative;
    text-align: right;
    margin-right: 5px;
    padding: 10px 15px;
    font-family: monospace;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: #2a2929;
}

.nav-links a:hover{
    color:rgb(77, 73, 73);
}

.navbar{
    padding-bottom: 8px;
    margin: 0;
    display: flex;
    align-items: center;
    top: 0;
    position: fixed;
    text-align: left;
    z-index: 1000;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #333;
    background-color: #f4f4f4;
}

.main-box {
    width: 750px;
    border: 1px solid black;
    box-shadow: 4px 4px 0px black;
    margin: 80px auto;
    background-color: #f4f4f4;
    font-family: monospace;
}
  
.main-header {
    background-color: #f4f4f4;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 15px;
    border-bottom: 1px solid black;
}
  
.main-image {
    width: 100%;
    height: 10%;
}
  
.main-description {
    padding: 15px;
    font-size: 13px;
    line-height: 1.5;
}

.main-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 40px;
}

.main-box.small {
    width: 355px; 
    margin: 0; 
    margin-bottom: 50px;
}
  
.footer {
    text-align: center;
    font-family: monospace;
    font-size: 12px;
    background-color: #e0e0e0;
    padding: 20px;
    margin-top: 60px;
    color: #2a2929;
}

.social-icon{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.social-link{
    display: flex;
    align-items: center;
    text-decoration: none;         
    color: #2a2929;               
    font-family: monospace;
    font-size: 12epx;
    margin: 10px;
}